<div class="menu-container">
  <nav class="navbar navbar-expand-lg navbar-dark menu-sub-container">
    <a class="navbar-brand">Gestão de Horários</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [collapse]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['dataupload']" [routerLink]="['dataupload']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['calendar']" [routerLink]="['calendar']">Horário</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
